<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tg.tmye.kaba.partner" >

    <queries>

        <!-- Place inside the <queries> element. -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>

        <!-- calling -->
        <intent>
            <action android:name="android.intent.action.DIAL" />

            <data android:scheme="tel" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <!-- wave lock -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="merge" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission-sdk-23
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="merge" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <application
        android:name=".syscore.MyRestaurantApp"
        android:allowBackup="true"
        android:icon="@mipmap/kaba_icon_orange_rectangle"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/kaba_icon_orange"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity android:theme="@style/AppTheme"
            android:name=".activities.infos.ProfileActivity"
             />
        <activity
            android:name=".activities.hsn.MyHSNDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.calendar.CalendarActivity" />
        <activity android:name=".activities.hsn.MyHSNActivity" />
        <activity android:name=".activities.hsn.CreateHSNActivity" />
        <activity android:name=".activities.menu.EditSingleMenuActivity" />
        <activity android:name=".activities.menu.EditSingleFoodActivity" />
        <activity android:name=".activities.menu.EditMenuActivity" />
        <activity
            android:name=".activities.home.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.commands.MyCommandsActivity"
            android:label="@string/title_activity_my_commands"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.login.RestaurantLoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.commands.CommandDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.stats.StatsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.menu.RestaurantMenuActivity"
            android:screenOrientation="portrait" /> <!-- notification job service -->
        <activity
            android:name=".activities.menu.EditFoodActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="vi.filepicker"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".firebase.MyRestoFirebaseMessagingService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".firebase.MyRestoFirebaseInstanceIDService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="._commons.notification.RestaurantKabaNotificationJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>