<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tg.tmye.kaba">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- wave lock -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.back"
        android:required="false" />

    <application
        android:name=".syscore.MyKabaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.home.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Splash.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.menu.RestaurantMenuActivity"
            android:label="@string/title_activity_restaurant_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FoodDetails.FoodDetailsActivity"
            android:label="@string/title_activity_food_details"
            android:parentActivityName=".activity.menu.RestaurantMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Web.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Geo.GeoActivity"
            android:label="@string/title_activity_geo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.scanner.ScannerActivity"
            android:label="@string/scanner_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.menu.RestaurantMenuActivity" />
        </activity>
        <activity android:name=".activity.UserAuth.register.RegisterActivity" />
        <activity android:name=".activity.UserAuth.login.LoginActivity" />
        <activity
            android:name=".activity.UserAcc.ServiceClientActivity"
            android:label="@string/title_activity_service_client" />
        <activity
            android:name=".activity.UserAcc.MyAdressesActivity"
            android:label="@string/title_activity_my_adresses" />
        <activity
            android:name=".activity.UserAcc.adresses.EditAddressActivity"
            android:label="@string/title_activity_edit_address" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBhDXLF0zLWJcjE4_9z_WkPQvq_drSUXyc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.UserAcc.personnalinfo.PersonnalInfoActivity"
            android:label="@string/title_activity_personnal_info"
            android:theme="@style/AppTheme.NoActionBar.Inverted" />
        <activity
            android:name=".activity.UserAcc.NewsFeedActivity"
            android:label="@string/title_activity_news_feed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserAcc.SoldeActivity"
            android:label="@string/title_activity_solde"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.cart.ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.SearchActivity" />
        <activity
            android:name=".activity.favorite.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UserAcc.EditFieldActivity"
            android:label="@string/title_activity_edit_field"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.trans.ConfirmCommandDetailsActivity"
            android:label="@string/title_activity_confirm_command_details"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- notifications push services -->

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.test.Test_NotificationActivity"
            android:label="@string/title_activity_test__notification"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <!-- notification job service -->
        <service android:name="._commons.notification.KabaNotificationJobService"
            />


    </application>

</manifest>